<!-- This is a jumbo tron! -->
<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
   				 <%= @username %>
		</div>	
	</div>
<!-- end jumbo tron -->

<div class="row">
    <div class="col-xs-3">
      <div class="col-sm-12">
            <img src="/banner.png" class="panel-image-preview" height="100px" width="200px">
      </div>
      <div class="col-sm-12">
        <h3 style="font-weight: bold;"><%= params[:id] %></h3>
        <p>
          A profile description worthy of a twitter clone. Veni, vidi, vici. 
        </p>
      </div>
    </div>


	<div class="col-xs-6">
		<%= render '/components/post_form' %>

		<% for @p in @posts %>
			<div class="panel panel-default">
  				<div class="panel-body">
   					 <p><%= @p.content %></p>
  				</div>
			</div>	
			<% end %>
	</div>


	<div class="col-xs-3">
				<div class="panel panel-default">
  					<div class="panel-body">
   						 <p>who to follow</p>
  					</div>
				</div>	

	</div>

</div>

